@charset "UTF-8";
/* LESS MIXINS ==========================================

Examples:
```````````````````````````````````````````
.gradient(#F5F5F5, #EEE, #FFF); 			
.bw-gradient(#EEE, 230, 255); 				
.bordered(#EEE, #E5E5E5, #DDD, #E5E5E5); 	
.drop-shadow(0, 1px, 2px, 0.2); 			
.rounded(5px); 								
.border-radius(5px, 0, 0, 5px); 			
.opacity(0.8); 								
.transition-duration(0.2s); 				
.rotation(15deg); 							
.scale(2); 									
.transition(2s, ease-out); 					
.inner-shadow(0, 1px, 2px, 0.4); 			
.box-shadow(0 1px 2px #999); 				
.columns(50px, 0, 50px, #EEE, solid, 1px); 	
.translate(10px, 20px); 					
.box-sizing(content-box);
.background-size(cover) 					
.user-select(none); 	
.animation-delay(2s)

*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@import "fonts.css";
body,
html {
  font-size: 14px;
  background-color: #363D3F;
  font-family: 'Open Sans', sans-serif;
}
*:active,
*:hover {
  text-decoration: none;
}
p a {
  color: #4898D4;
}
.nav-bottom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
.nav-bottom.nav-bottom-2 .btn {
  width: 50%;
  float: left;
}
.nav-bottom.nav-bottom-2 .btn:first-child {
  border-right: 1px solid #363D3F;
}
.btn {
  border-radius: 0;
  height: 50px;
  padding: 0;
  line-height: 50px;
  background-color: #EF832C;
  color: white;
  border: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}
.btn.disabled {
  background-color: #6d7a7a;
}
.btn-rounded {
  display: inline-block;
  padding: 0px 16px;
  border: 1px solid #4898D4;
  height: 36px;
  border-radius: 18px;
  margin: 10px 0 20px 0;
  text-transform: uppercase;
  text-align: center;
  color: #4898D4;
  line-height: 36px;
}
.workout .btn {
  background-color: #6F7B7B;
}
.logo {
  color: #EF832C;
  font-size: 26px;
  margin-bottom: 16px;
  display: inline-block;
}
#settings {
  color: white;
  text-align: center;
}
#settings .settings-disclaimer {
  position: fixed;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: #6E7B7B;
}
#settings p {
  color: #D4DCDB;
}
#settings h4 {
  color: #6E7B7B;
  font-size: .625rem;
  text-transform: uppercase;
}
#settings .set-input {
  display: none;
}
#settings .set-label {
  display: inline-block;
  min-width: 70px;
  padding: 9px 0.9375rem 4px 0.9375rem;
  background-color: transparent;
  color: white;
  border: 1px solid #6E7B7B;
  border-right: 0;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
#settings .set-label .ddicon-drop {
  color: #4898D4;
  font-size: 24px;
  margin: 0 3px;
}
#settings .set-label span.input_sub {
  display: block;
  font-size: 1rem;
}
#settings .set-label:first-of-type {
  border-radius: 4px 0 0 4px;
}
#settings .set-label:last-child {
  border-radius: 0px 4px 4px 0;
  border-right: 1px solid #6E7B7B;
}
#settings .set-label img {
  margin: 0;
  display: block;
  width: 50px;
}
#settings .input-set-focus .set-label {
  text-align: center;
}
#settings .set-input:checked + .set-label {
  background: #232929;
}
#settings .input-set-times {
  font-size: 2.35rem;
  line-height: 75%;
}
.card {
  display: none;
  position: fixed;
  background-color: #E0E0E0;
  top: 50px;
  left: 20px;
  right: 20px;
  height: 460px;
  color: white;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: 1s ease-out all;
  transition: 1s ease-out all;
}
.card .card-title {
  height: 40px;
  margin: 0;
  font-size: 28px;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #EF832C;
  color: white;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
.card .ddicon-info {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 20px;
  pointer-events: none;
}
.card .card-description {
  display: none;
  height: 233px;
  position: absolute;
  z-index: 99999999999999;
  left: 0;
  right: 0;
  padding: 20px;
  background: #EF832C;
}
.card .card-description p {
  position: relative;
  margin-left: 20px;
}
.card .card-description p::before {
  content: "\e900";
  font-family: "drilldeck";
  position: absolute;
  left: -10px;
  top: 5px;
  color: black;
  font-size: 9px;
}
.card .card-description .card-description-target {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  color: black;
  padding-bottom: 10px;
  font-size: 12px;
}
.card .card-description .card-description-target h4 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 4px;
}
.card .card-type {
  height: 18px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #B3B6B6;
  color: #232929;
}
.card .card-animation .animation {
  position: relative;
  height: 233px;
  background-image: url('../img/floor.png');
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: white;
}
.card .card-animation .animation .animation-frame {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0;
}
.card .card-animation .animation .animation-frame.animation-frame-visible {
  opacity: 1;
}
.card .card-timer {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
}
.card:nth-child(2) {
  top: 20px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.card:nth-child(1) {
  top: -10px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.workout-timer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: #232929;
}
.workout-timer .btn-end {
  display: inline-block;
  margin: 5px;
  width: 20px;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  color: #D4DCDB;
  height: 20px;
}
.workout-timer .workout-timer-total {
  position: absolute;
  right: 0;
  top: 0;
  left: 30px;
  margin: 10px;
  height: 10px;
  background: #363D3E;
}
.workout-timer .workout-timer-total .workout-timer-elapsed {
  display: block;
  width: 0;
  height: 10px;
  -webkit-transition: 1s all;
  transition: 1s all;
  background-color: #EF832C;
  float: left;
}
.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.modal.full .modal-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.modal.full .modal-dialog .modal-footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.modal.fullScroll .modal-dialog {
  margin: 0;
}
.modal.fullScroll .modal-dialog .modal-content {
  padding-bottom: 90px;
}
.modal.fullScroll .modal-dialog .modal-footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.modal .modal-dialog {
  background: white;
}
.modal .modal-dialog .modal-content {
  box-shadow: none;
  border: 0;
  border-radius: 0;
}
.modal .modal-dialog .modal-content .modal-header {
  border: 0;
}
.modal .modal-dialog .modal-content .modal-footer {
  border: 0;
}
.modal#endModal .modal-content {
  background: none;
}
.modal#endModal .modal-dialog {
  background-image: url('../img/stretching.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top center;
  background-attachment: fixed;
}
.modal#endModal .modal-body {
  text-align: center;
}
.modal#endModal .modal-body h2 {
  color: white;
  font-size: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.modal#endModal .modal-body h3 {
  color: #4898D4;
  font-size: 21px;
  font-weight: 600;
}
.modal#endModal .modal-body p {
  color: #bcc6c7;
  font-size: 16px;
}
.modal#endModal .modal-body .endBox {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
  border: 1px solid #6d7a7a;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.modal#endModal .modal-body .endBox .endBox-focusArea {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 12px;
  border-right: 1px solid #6d7a7a;
  text-align: center;
}
.modal#endModal .modal-body .endBox .endBox-focusArea .endBox-focusArea-image img {
  position: absolute;
  left: 12px;
  top: 8px;
  width: 70%;
}
.modal#endModal .modal-body .endBox .endBox-focusArea .endBox-focusArea-image img.endBox-focusArea-image-overlay {
  display: none;
}
.modal#endModal .modal-body .endBox .endBox-focusArea h5 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 5px;
}
.modal#endModal .modal-body .endBox .endBox-intensity {
  position: absolute;
  right: 0;
  padding: 12px;
  padding-top: 20px;
  width: 50%;
  height: 50%;
  border-bottom: 1px solid #6d7a7a;
}
.modal#endModal .modal-body .endBox .endBox-intensity .ddicon {
  color: #4898D4;
  font-size: 20px;
  margin-right: 4px;
}
.modal#endModal .modal-body .endBox .endBox-intensity .ddicon:last-child {
  margin-right: 0;
}
.modal#endModal .modal-body .endBox .endBox-time {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 12px;
  width: 50%;
  height: 50%;
}
.modal#endModal .modal-body .endBox .endBox-time .endBox-time-number {
  font-size: 22px;
  line-height: 28px;
}
#disclaimerModal .modal-dialog {
  background-color: #232929;
  color: #d3dbdb;
  font-size: 14px;
}
#disclaimerModal .modal-content {
  background: none;
}
#disclaimerModal .modal-content .logo {
  color: #EF832C;
}
#disclaimerModal .modal-content .small {
  font-size: 10px;
}
#pauseModal .modal-dialog {
  margin: 20px;
}
#pauseModal .modal-body h3 {
  font-size: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: #6d7a7a;
  text-align: center;
  margin: 5px;
}
#pauseModal .modal-body h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  color: #4898D4;
  text-align: center;
  font-weight: 600;
}
#pauseModal .modal-body p {
  font-size: 16px;
  color: #6d7a7a;
}
#pauseModal .modal-footer {
  padding: 0;
}
#pauseModal .modal-footer .btn {
  background-color: #4898D4;
}
#pauseModal .modal-footer .btn-pause-end {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-decoration: underline;
  color: white;
}
canvas {
  display: none;
}
.card-timer-wrapper {
  position: absolute;
  margin-top: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: 130px;
  height: 130px;
  border-radius: 65px;
  box-shadow: 0 0 25px 10px #fff;
  background-color: white;
}
.card-timer-wrapper .card-timer {
  display: none;
}
.card-timer-wrapper .card-timer-time {
  color: #232929;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 130px;
  text-align: center;
  font-size: 40px;
}
.card .card-timer-wrapper::before {
  content: 'Starting in..';
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.5s ease-out all;
  transition: 0.5s ease-out all;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.card.buffering .card-timer-wrapper::before {
  opacity: 1;
}
