@charset "UTF-8";
/* LESS MIXINS ==========================================

Examples:
```````````````````````````````````````````
.gradient(#F5F5F5, #EEE, #FFF); 			
.bw-gradient(#EEE, 230, 255); 				
.bordered(#EEE, #E5E5E5, #DDD, #E5E5E5); 	
.drop-shadow(0, 1px, 2px, 0.2); 			
.rounded(5px); 								
.border-radius(5px, 0, 0, 5px); 			
.opacity(0.8); 								
.transition-duration(0.2s); 				
.rotation(15deg); 							
.scale(2); 									
.transition(2s, ease-out); 					
.inner-shadow(0, 1px, 2px, 0.4); 			
.box-shadow(0 1px 2px #999); 				
.columns(50px, 0, 50px, #EEE, solid, 1px); 	
.translate(10px, 20px); 					
.box-sizing(content-box);
.background-size(cover) 					
.user-select(none); 	
.animation-delay(2s)

*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body,
html {
  font-size: 16px;
  background-color: #363D3F;
}
.nav-bottom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
.nav-bottom.nav-bottom-2 .btn {
  width: 50%;
  float: left;
}
.nav-bottom.nav-bottom-2 .btn:first-child {
  border-right: 1px solid #363D3F;
}
.btn {
  border-radius: 0;
  height: 80px;
  padding: 0;
  line-height: 80px;
  background-color: #EF832C;
  color: white;
  border: 0;
  font-size: 1.625rem;
  text-transform: uppercase;
}
#settings {
  text-align: center;
}
#settings h4 {
  color: #6E7B7B;
  font-size: .625rem;
  text-transform: uppercase;
}
#settings .set-input {
  display: none;
}
#settings .set-label {
  display: inline-block;
  height: 75px;
  min-width: 70px;
  padding: 0 0.9375rem;
  background-color: transparent;
  color: white;
  border: 1px solid #6E7B7B;
  border-right: 0;
  line-height: 75px;
  text-align: center;
}
#settings .set-label:first-of-type {
  border-radius: 4px 0 0 4px;
}
#settings .set-label:last-child {
  border-radius: 0px 4px 4px 0;
  border-right: 1px solid #6E7B7B;
}
#settings .set-input:checked + .set-label {
  background: #232929;
}
.card {
  display: none;
  position: fixed;
  background: green;
  top: 100px;
  left: 20px;
  right: 20px;
  height: 460px;
  color: white;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: 1s ease-out all;
  transition: 1s ease-out all;
}
.card.buffering {
  background: red;
}
.card .card-animation .animation {
  height: 300px;
  position: relative;
}
.card .card-animation .animation .animation-frame {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0;
}
.card .card-animation .animation .animation-frame.animation-frame-visible {
  opacity: 1;
}
.card .card-animation .card-title {
  margin: 0;
  text-align: center;
  font-size: 18px;
}
.card .card-timer {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
}
.card:nth-child(2) {
  top: 60px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.card:nth-child(1) {
  top: 20px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.workout-timer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: white;
}
.workout-timer .btn-end {
  display: inline-block;
  margin: 10px;
  width: 20px;
  line-height: 15px;
  font-size: 28px;
  text-align: center;
}
.workout-timer .workout-timer-total {
  position: absolute;
  right: 0;
  top: 0;
  left: 30px;
  margin: 10px;
  height: 20px;
  background: blue;
}
.workout-timer .workout-timer-total .workout-timer-elapsed {
  display: inline-block;
  width: 0;
  height: 20px;
  -webkit-transition: 1s all;
  transition: 1s all;
  background-color: orange;
}
.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.modal.full .modal-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.modal .modal-dialog {
  background: white;
}
.modal .modal-dialog .modal-content {
  box-shadow: none;
  border: 0;
  border-radius: 0;
}
.modal .modal-dialog .modal-content .modal-header {
  border: 0;
}
.modal .modal-dialog .modal-content .modal-footer {
  border: 0;
}
